<?xml version="1.0"?>
<config>
  <modules>
    <Wm21_Brands>
      <version>0.0.1</version>
    </Wm21_Brands>
  </modules>
  <global>
    <blocks>
      <wm21_brands>
        <class>Wm21_Brands_Block</class>
      </wm21_brands>
    </blocks>
    <helpers>
      <wm21_brands>
        <class>Wm21_Brands_Helper</class>
      </wm21_brands>
    </helpers>
  </global>
  <frontend>
    <routers>
      <wm21_brands>
        <use>standard</use>
        <args>
          <module>Wm21_Brands</module>
          <frontName>brands</frontName>
        </args>
      </wm21_brands>
    </routers>
    <layout>
      <updates>
        <wm21_brands>
          <file>wm21_brands.xml</file>
        </wm21_brands>
      </updates>
    </layout>
  </frontend>
</config>
